body {
  background: #eee;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  padding: 0;
  margin: 0;
}

body, input {
  font-family: 'Lato', sans-serif;
}

aside {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 220px;
  background: #0d7e83;
  color: rgba(255, 255, 255, 0.6);
  text-align: left;
}

aside h1 {
  font-size: 35px;
  margin: 20px 20px 5px;
  padding: 0;
  color: white;
}

aside h5 {
  margin: 20px 0 5px 20px;
  text-transform: uppercase;
}

input#user {
  margin: 20px 0 5px 20px;
  color: white;
  opacity: 0.6;
  background: none;
  border: none;
  font-size: 0.9em;
  text-transform: none;
  font-weight: 300;
  margin-top: 0;
}

input#user::before {
  content: '●';
  font-size: 1.3em;
  color: #f79f66;
  margin: 0 5px 0 0;
}

aside ul {
  height: 60vh;
  margin: 0;
  list-style: none;
  cursor: pointer;
  padding: 0;
  overflow-y: auto;
  font-weight: 300;
}

aside ul li {
  margin: 0 0 0 -5px;
  font-size: 0.9em;
  padding: 2px 0 2px 25px;
  width: 205px;
  border-radius: 4px;
  box-sizing: border-box;
}

aside ul li::before {
  content: '#';
  font-size: 1.1em;
  font-weight: 200;
  opacity: 0.6;
  margin: 0 8px 0 0;
}

aside ul li:hover {
  background: #f79f66;
  opacity: 0.6;
}

aside ul li.selected {
  opacity: 1;
  background: #f79f66;
}

#chats {
  position: fixed;
  z-index: 0;
  right: 0;
  width: 100vw;
  height: 90vh;
  margin: 0;
  text-align: left;
  background: white;
  border: solid #ddd;
  border-width: 0;
  overflow-y: scroll;
}

#main {
  position: fixed;
  bottom: 20px;
  left: 220px;
  height: 10vh;
  width: 80vw;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.message {
  padding: 5px 0 5px 245px;
  margin: 0;
  background-color: #eee;
}

.message.friend{
  background: pink;
}

a.user-name, a.user-name:visited, a.user-name:active {
  color: #2c2d30;
  font-weight: 800;
  text-decoration: none;
  margin-right: 10px;
}

.message a.user-name:hover {
  text-decoration: underline;
}

.message time {
  color: #9e9ea6;
  font-size: 0.8em;
}

.message:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}
